* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Content */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* Background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  /* Accent */
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  /* Gradient */
  --gradient-border: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);


  /* Tipografia */

  /* Sora */
  --display-large: 800 72px/130% "Sora", serif;
  --display-medium: 800 40px/130% "Sora", serif;
  --display-small: 700 32px/130% "Sora", serif;
  
  /* Roboto Mono */
  --overline: 700 16px/150% "Roboto Mono", serif;
 
  /* Roboto Flex */
  --paragraph-large: 500 16px/150% "Roboto Flex", serif;
  --paragraph-medium: 500 14px/150% "Roboto Flex", serif;
  --paragraph-small: 500 12px/150% "Roboto Flex", serif;
  --label-medium: 700 20px/150% "Roboto Flex", serif;
  --label-small: 700 16px/150% "Roboto Flex", serif; 
}

/* 
Dica da borda Linear gradient
border-image: linear-gradient(to right, #C98CF1 4.16%, #A482EB 48%, #7B78E5 96.76%);
border-image-slice: 1; 
*/
body {
  background-color: var(--background-primary);
}

main {
  /* border: solid pink; */
  max-width: 1280px;
  min-width: 375px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 108px;
}

.sortear {
  display: none;
}


@keyframes bordaButton {
  0% {
    background: linear-gradient(0deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }25% { 
    background: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  } 50% {
    background: linear-gradient(180deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);  
  } 75% {
    background: linear-gradient(270deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }100% {
    background: linear-gradient(360deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }
}


/* mobile */
@media (width < 700px) {
  main {
    flex-direction: column;
    gap: 42px;
  }
}

