
.results {
  /* border: solid yellow; */
  padding-block: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  transform: translateY(50px);
  animation: animeResultHeader 2s 7s ease forwards;
  
  & .colocacao {
    /* border: solid yellow; */
    text-align: center;

    & h3 {
      font: 800 30px/150% "Roboto Flex", serif;
      color: var(--content-primary);
      text-transform: uppercase;
    }

    & span {
      font: var(--overline);
      color: var(--content-secondary);
      text-transform: uppercase;
    }
  }

  & article {
    /* border: solid yellow; */
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
    margin-block: 48px;
    
    & .NumberOne, .NumberTwo {
      /* border: solid red; */
      display: flex;
      justify-content: center;
      align-items: center;    
    }

    & .NumberOne div, .NumberTwo div {
      /* border: solid yellow; */
      width: 100px;
      height: 100px;
      border-radius: 28px;  
    }

    & span {
      font: 800 48px/150% "Roboto Mono", serif;  
    }

    & .NumberOne {
      & div {
        opacity: 0;
        position: relative;
        animation: animeResultOne 5s ease forwards;
      }

      & span {
        position: absolute;
        animation: SpanNumberOne 4s ease forwards;
      }
    }
    
    & .NumberTwo {
      & div {
        opacity: 0;
        position: relative;
        animation: animeResultTwo 5s 3.7s ease forwards;
      }
      & span {
        animation: SpanNumberTwo 4s 3.7s ease forwards;
        position: absolute;
      }
    }
  }

   & .backgroud {
    opacity: 0;
    animation: animeResultHeader 2s 7s ease forwards;
   }

  & .backgroud:hover {
    background: var(--gradient-border);
    animation: bordaButton 1.5s infinite linear, animeResultHeader 2s 7s ease forwards;
    border-radius: 8px;
    opacity: 0;
  }

  & button {
    width: 482px;
    height: 56px;
    border-radius: 8px;
    background: var(--background-tertiary);
    color: var(--content-tertiary);
    font: 700 17px/150% "Roboto Flex", serif;
    text-transform: uppercase;
    border: none;
    margin: 1.6px;
    opacity: 0;
    animation: animeResultHeader 2s 7s ease forwards;
    & img {
      vertical-align: middle;
      margin-left: 8px;
    }
    &:hover {
      & img {
        animation: play 3s ease forwards;
      }
    }
  }
}



@keyframes animeResultOne {
  0% { 
    opacity: 1;
    transform: translateX(20px) scale(0) rotate(0deg);
    background: var(--content-brand);
  }20% {
    opacity: 1;
    transform: translateX(20px) scale(1.1) rotate(0deg);
    background: var(--content-brand);
  } 50%{
    opacity: 1;
    transform: translateX(20px) scale(1.1) rotate(360deg);
    background: var(--content-brand);
  } 60% {
    opacity: 0;
    transform: translateX(20px) scale(1.1) rotate(360deg);
    background: transparent;
  }65% {
    opacity: 0;
    transform: translateX(20px) scale(1) rotate(360deg);
    background: transparent;
  } 75% {
    transform: translateX(0px) scale(1) rotate(360deg);
    background: transparent;
  } 100% {
    transform: translateX(0px) scale(1) rotate(360deg);
    background: transparent; 
  }
}


@keyframes animeResultTwo{
  0% { 
    opacity: 1;
    transform: translateX(-10px) scale(0) rotate(0deg);
    background: var(--content-brand);
  }20% {
    opacity: 1;
    transform: translateX(-10px) scale(1.1) rotate(0deg);
    background: var(--content-brand);
  } 50%{
    opacity: 1;
    transform: translateX(-10px) scale(1.1) rotate(360deg);
    background: var(--content-brand);
  } 60% {
    opacity: 0;
    transform: translateX(-10px) scale(1.1) rotate(360deg);
    background: transparent;
  }65% {
    opacity: 0;
    transform: translateX(-10px) scale(1) rotate(360deg);
    background: transparent;
  } 75% {
    transform: translateX(0px) scale(1) rotate(360deg);
    background: transparent;  
  } 100% {
    transform: translateX(0px) scale(1) rotate(360deg);
    background: transparent; 
  }
}

@keyframes SpanNumberOne {
  0% {
    opacity: 0;
    color: var(--color-inverse);
    transform: scale(1.2) translateX(20px);
  }25%{
    opacity: 0;
    color: var(--color-inverse);
    transform: scale(1.2) translateX(20px);
  } 66% {
    opacity: 1;
    color: var(--color-inverse);
    transform: scale(1.2) translateX(20px);
  } 80% {
    color: var(--content-brand);
    transform: scale(1) translateX(20px); 
  } 100% {
    color: var(--content-brand);
    transform: scale(1) translateX(0px); 
  }
}



@keyframes SpanNumberTwo {
  0% {
    opacity: 0;
    color: var(--color-inverse);
    transform: scale(1.2) translateX(-10px);
  }25%{
    opacity: 0;
    color: var(--color-inverse);
    transform: scale(1.2) translateX(-10px);
  } 66% {
    opacity: 1;
    color: var(--color-inverse);
    transform: scale(1.2) translateX(-10px);
  } 80% {
    color: var(--content-brand);
    transform: scale(1) translateX(-10px); 
  } 100% {
    color: var(--content-brand);
    transform: scale(1) translateX(0px); 
  }
}

@keyframes animeResultHeader {
  0% {
    transform: translateY(50px);
  } 50% {
    opacity: 1;
    transform: translateY(0px);
  } 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes play {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}


/* mobile */
@media (width < 900px) {
  .results {
    padding-inline: 35px;
    & .colocacao {  
      & h3 {
        font: 800 24px/150% "Roboto Flex", serif;
      }
    }
    .backgroud:hover {
      width: 319px;
    }
    & button {
      width: 315px;
      font: 700 14px/150% "Roboto Flex", serif;
    }
  }
}