
.draw {
  /* border: solid yellow; */
  max-width: 482px;
  min-width: 375px;
  & h3 {
    font: var(--label-medium);
    color: var(--content-primary);
    text-transform: uppercase;
    margin-block: 123px 2px;
  }

  & p {
    font: var(--paragraph-large);
    color: var(--content-secondary);
    margin-bottom: 40px;
  }
}

form {
  /* border: solid red; */
   & div {
    display: flex;
    gap: 12px;

    & input[type="text"] {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: var(--background-secondary);
      outline: none;
      border: none;
      color: var(--content-primary);
      font: var(--display-small);
      text-align: center;    
    }

    & fieldset {
      width: 86px;
      height: 88px;
      border: none;
      text-align: center;
    }

    & fieldset:nth-child(1):hover, 
    fieldset:nth-child(2):hover, 
    fieldset:nth-child(3):hover{
      & div:nth-child(2) { 
        &:hover {
          background: var(--gradient-border);
          transition: 5s;
        }
        &:active {
          background: var(--gradient-border);
        }
      }
      & legend {
        color: var(--content-brand);
      }
    }
  
    & legend {
      font: var(--label-medium);
      color: #C7C9CC;
      text-transform: uppercase;
    }

    & div:nth-child(2) {
      width: 86px;
      height: 56px;
      border-radius: 8px;
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: nonoe;
      padding: 2px; 
    }
   }

   & .containerTogle {
    margin-block: 21px 41px;
      & .togle {
      width: 30px;
      height: 20px;
      border-radius: 16px;
      display: flex;
      align-items: center;  
      position: relative;  
    }

    & input[type="radio"] {
      appearance: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;     
    }

    & label {      
      font: var(--paragraph-small);
      color: var( --content-primary);
    }
  }

  & button {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    color: var(--content-primary);
    font: var(--label-small);
    text-transform: uppercase;
    border: none;
    position: relative;

    & img {
      vertical-align: bottom;
      margin-left: 8px;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: var(--gradient-border);
      position: absolute;
      top: -3%;
      left: -0.35%;
      padding: 1.6px;
      border-radius: 8px;
      z-index: -1;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
      animation: bordaButton 1.5s infinite linear;
    }

    &:hover img {
        animation: buttonSeta 1.5s linear infinite;
    }  
  }
}


#togle { 
  background: var(--gradient-background);
}

#togleRight {
  position: absolute;
  right: 8%;
  border: none;
  
  &:checked {
    background: var(--content-primary);
  }
}

#togleRight:checked  #togle { 
  background: var(--gradient-background);
}

#togleLeft {
  position: absolute;
  left: 8%;
  border: none;
  &:checked {
    background: var(--content-primary);
  }
}

@keyframes buttonSeta {
  0% {
    transform: translateX(0px);
  } 50% {
    transform: translateX(8px);
  }100% {
    transform: translateX(0px);
  }
}



/* mobile */
@media (width < 900px) {
  .draw {
    /* border: solid yellow; */
    padding-inline: 28px;
    & h3 {
      margin: 0;
    }
  
    & p {
      font: var(--paragraph-medium);
    }
  }
}